<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../static/registration.css" media="screen" />
    <title>Sign Up</title>
</head>
<body>
<div class="user" id="main">
    <header class="user__header">
        <h1 class="user__title">Sign Up</h1>
    </header>

    <form class="form">
        <div class="form__group">
            <input type="text" placeholder="Username" class="form__input" name="username" />
        </div>

        <div class="form__group">
            <input type="email" placeholder="Email" class="form__input" name="email" />
        </div>

        <div class="form__group">
            <input type="password" placeholder="Password" class="form__input" name="password" />
        </div>

        <button class="btn" type="submit" id="btn">Register</button>
    </form>
    <script>
        const form   = document.forms[0]

        form.addEventListener('submit', function(e) {
            e.preventDefault()
            const formData = new FormData(form);
            // Convert formData object to URL-encoded string:
            const payload = new URLSearchParams(formData);
            fetch('http://localhost:8080/api/register', {
                method: 'POST',
                body: payload,
            })
                .then(res => {
                    if (res.status !== 200) {
                        console.log('Looks like there was a problem. Status Code: ' +
                            res.status);
                        form.classList.add('form--no')
                        return;
                    }
                    elem = document.getElementById("main")
                    elem.appendChild(document.createTextNode("Check your email to confirm account"))
                    btn = document.getElementById("btn")
                    btn.parentNode.removeChild(btn)
                })
                .then(() => console.log("Submitted"))
        })
    </script>
</div>
</body>
</html>